.card {
    /* background-color: #fff; */
    border: none
}

.form-color {
    /* background-color: #fafafa */
}

.form-control {
    height: 48px;
    border-radius: 25px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #35b69f;
    outline: 0;
    box-shadow: none;
    text-indent: 10px
}

.c-badge {
    background-color: #35b69f;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 92px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px
}

.comment-text {
    font-size: 13px
}

.wish {
    color: #35b69f
}

.user-feed {
    font-size: 14px;
    margin-top: 12px
}