:root {
    --accent-color: #F75C03;
    --accent-color1: #26a69a;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

header{
    /* width: 100vw; */
    width: auto;
    height: 75vh;
    background-image: url(../media/img6.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.c_divider {
    width: auto;
    height: 3px;
    background: var(--accent-color);
}

.c_magic {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right,
            #E288F9,
            var(--accent-color),
            /* #FFC988, */
            #E288F9
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowarp;
}

.c_header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.c_header-content h2 {
    font-size: 6vmin;
}

.c_line {
    width: 150px;
    height: 4px;
    /* background: #fc036b; */
    background: var(--accent-color);
    margin: 10px auto;
    border-radius: 5px;
}

.c_header-content h1 {
    font-size: 8vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.c_btn {
    border-radius: 30px;
    /* background: #fc036b; */
    background: var(--accent-color);
}

.accent_symbol {
    color: var(--accent-color);
}

.c_title {
    font-weight: bold;
}

.c_trending {
    margin-top: 40px;
    /* padding: 20px; */
}

.c_article_card {
    min-width: 60px;
}

.c_tags {
    font-size: 8pt;
    background: var(--accent-color1);
    margin: 5px;
}
