:root {
    --accent-color: #F75C03;
    --accent-color1 : #26a69a;
}

.brand-logo {
    margin-left: 20px;
}

nav {
    background-color: #0e283f;
}

.c_btn {
    border-radius: 30px;
    /* background: #fc036b; */
    background: var(--accent-color);
}