{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static 'cauth/styles.css' %}>
{% endblock head %}

{% block container %}
    <div class="row c_form_container">
        <h4 class="center"> Welcome Back </h4>
        {% if error %}
            <h5> {{ error }}</h5>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <p class="center">
                <button class="btn c_btn" type="submit">Submit</button>
            </p>
        </form>
        <p class="center">Don't have an account? <a href={% url 'cauth:register' %}>Register Now</a></p>
    </div>
{% endblock container %}