{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href={% static 'main/css/index.css' %} />
{% endblock head %}
{% block container %}
    <div class="mb-4 rounded text-bg-dark unselectable">
        <header id="style-head" class="rounded ">
            <div class="c_header-content">
                <h3>
                    <span class="accent_symbol">E</span>xplore,
                    <span class="accent_symbol">C</span>reate,
                    <span class="accent_symbol">S</span>hare
                </h3>
                <div class="c_line"></div>
                <h2 class="c_magic">Articles For Everyone</h2>
                <a href="#cid_latest" class="btn btn-outline-light">Dive In</a>
            </div>
        </header>
    </div>
    <div class="row mb-2">
        {% for article in trending_articles %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        {% if article.tag|stringformat:"s" == "Science" %}
                            <strong class="d-inline-block mb-2 text-primary">{{ article.tag }}</strong>
                        {% elif article.tag|stringformat:"s" == "World" %}
                            <strong class="d-inline-block mb-2 text-secondary">{{ article.tag }}</strong>
                        {% elif article.tag|stringformat:"s" == "Technology" %}
                            <strong class="d-inline-block mb-2 text-danger">{{ article.tag }}</strong>
                        {% elif article.tag|stringformat:"s" == "Design" %}
                            <strong class="d-inline-block mb-2 text-dark">{{ article.tag }}</strong>
                        {% elif article.tag|stringformat:"s" == "Culture" %}
                            <strong class="d-inline-block mb-2 text-info">{{ article.tag }}</strong>
                        {% elif article.tag|stringformat:"s" == "Business" %}
                            <strong class="d-inline-block mb-2 text-warning">{{ article.tag }}</strong>
                        {% else %}
                            <strong class="d-inline-block mb-2 text-success">{{ article.tag }}</strong>
                        {% endif %}
                        <h3 class="mb-0">{{ article.title|truncatewords_html:6|safe }}</h3>
                        <div class="mb-1 text-muted">
                        {{ article.created_at|date:"M j, Y" }}
                        </div>
                        <div class="mb-auto" id="blog-content">{{ article.content|truncatewords_html:20|safe }}</div>
                        <a href={% url 'article_details' article.pk %} class="stretched-link">Continue reading</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Sorry, No article found :/</p>
        {% endfor %}
    </div>
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">Recent Articles</h3>
            {% for article in latest_articles %}
                <div class="card mb-4 border border-1">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% comment %} <img src="{% static 'main/media/img1.png' %}"
                                 class="img-fluid rounded-start"
                                 alt="..."/> {% endcomment %}
                            <img src={{ article.thumbnail.url }}
                                 class="img-fluid rounded-start"
                                 alt="..."/>
                        </div>
                        <div class="col-md-8" style="display: flex; flex-direction: column;">
                            <div class="card-body">
                                {% if article.tag|stringformat:"s" == "Science" %}
                                    <strong class="d-inline-block mb-2 text-primary">{{ article.tag }}</strong>
                                {% elif article.tag|stringformat:"s" == "World" %}
                                    <strong class="d-inline-block mb-2 text-secondary">{{ article.tag }}</strong>
                                {% elif article.tag|stringformat:"s" == "Technology" %}
                                    <strong class="d-inline-block mb-2 text-danger">{{ article.tag }}</strong>
                                {% elif article.tag|stringformat:"s" == "Design" %}
                                    <strong class="d-inline-block mb-2 text-dark">{{ article.tag }}</strong>
                                {% elif article.tag|stringformat:"s" == "Culture" %}
                                    <strong class="d-inline-block mb-2 text-info">{{ article.tag }}</strong>
                                {% elif article.tag|stringformat:"s" == "Business" %}
                                    <strong class="d-inline-block mb-2 text-warning">{{ article.tag }}</strong>
                                {% else %}
                                    <strong class="d-inline-block mb-2 text-success">{{ article.tag }}</strong>
                                {% endif %}
                                <h5 class="card-title">{{ article.title }}</h5>
                                <hr class="border border-1 opacity-50">
                                <div class="card-text">{{ article.content|truncatewords_html:50|safe }}</div>
                                <a href={% url 'article_details' article.pk %}>Continue reading</a>
                            </div>
                            <div class="card-footer text-end text-muted">
                                <div class="row">
                                    <div class="col text-start">
                                        <a href={% url 'profile' article.user.pk %} class="text-secondary text-decoration-none">
                                            <b>{{ article.user }}</b>
                                        </a>
                                        • {{ article.created_at|date:"M j, Y" }}
                                    </div>
                                    <div class="col">
                                        <small class="text-muted">
                                            <i class="fa-regular fa-heart p-1"> {{ article.likes.all|length }}</i>
                                            <i class="fa-regular fa-comment p-1"> {{ article.comment.all|length }}</i>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
            </nav>
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">About</h4>
                    <p class="mb-0">
                        Creo : latin for create
                    </p>
                </div>

                <div class="p-4">
                    {% regroup all_articles by created_at.year as year_list %}
                    <ul>
                    {% for year in year_list %}
                        <li>{{ year.grouper }}
                            {% regroup year.list by created_at.month as month_list %}
                            <ul>
                            {% for month in month_list %}
                                <li><a href="{% url 'article_archive' year.grouper month.grouper %}">{{ month.list.0.created_at|date:'M' }} ({{ month.list|length }})</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">
                        Connect with me
                    </h4>
                    <ol class="list-unstyled">
                        <li>
                            <i class="fa-sharp fa-solid fa-user-secret"></i>
                            <a href="https://praveenkum11.github.io/portfolio/">Portfolio</a>
                        </li>
                        <li>
                            <i class="fa-brands fa-github-alt"></i>
                            <a href="https://github.com/PraveenKum11">GitHub</a>
                        </li>
                        <li>
                            <i class="fa-brands fa-linkedin"></i>
                            <a href="https://www.linkedin.com/in/praveen-kumar-07bb781b6/">LinkedIn</a>
                        </li>
                        <li>
                            <i class="fa-brands fa-instagram"></i>
                            <a href="https://www.instagram.com/praveen_kumar011/">Instagram</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}
