<!-- Button trigger modal -->
<span class="float-end">
    <a class="link-secondary" href={% url 'edit_article' article.pk %}>
        <i class="fa-solid fa-pen-to-square" ></i>
        Edit
    </a>
    &nbsp
    <a class="link-secondary" href="#delete-article" data-bs-toggle="modal" data-bs-target="#article-delete-modal">
        <i class="fa-solid fa-trash"></i>
        Delete
    </a>
</span>

<!-- Modal -->
<div class="modal fade" id="article-delete-modal" tabindex="-1" aria-labelledby="article-delete-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="article-delete-label">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the article ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href={% url 'delete_article' article.pk %} class="btn btn-primary">Agree</a>
      </div>
    </div>
  </div>
</div>