{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href={% static 'main/css/styles_user_details.css' %} />
{% endblock head %}
{% block container %}
    <div class="user-details">
        <div class="user-profile">
            <div class="user-profile__wrapper">
                <div class="user-profile__background"></div>
                <div class="user-profile__follow">
                    <p>
                        1
                        <p>Follower</p>
                    </p>
                </div>
                <div class="user-profile__name">
                    <p>Alice Wonderland</p>
                    <span>Aliquam ornare augue ac nulla</span>
                </div>
                <div class="user-profile__image" /></div>
                <div class="user-posts">
                    {% comment %}
                        NOTE: We do not call the all(), 
                        calling is handeled by the template engine
                    {% endcomment %}
                    {% for article in user.article_set.all %}
                        <a href="{% url "article_details" article.pk %}" class="collection-item">
                            <li>{{ article }}</li>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock container %}
