<form method="POST" style="display: inline;" id="like_form">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <i class="fa-solid fa-heart like-increase" hx-post={% url 'like_article' article.pk %} hx-trigger="click" hx-swap="outerHTML" hx-target="#like_form"> {{ article.likes.all.count }}</i>
        {% else %}
            <i class="fa-regular fa-heart like-simple" hx-post={% url 'like_article' article.pk %} hx-trigger="click" hx-swap="outerHTML" hx-target="#like_form"> {{ article.likes.all.count }}</i>
        {% endif %}
    {% else %}
        <i class="fa-regular fa-heart like-simple tooltipped" data-position="top" data-tooltip="Please login to like"> {{ article.likes.all.count }}</i>
    {% endif %}
</form>
