:root {
    --accent-color: #F75C03;
    --accent-color1: #26a69a;
    --col1: #E288F9;
    /* --header-font: 'Dancing Script', cursive; */
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

#style-head {
    /* width: 100vw; */
    width: auto;
    height: 30rem;
    background-image: url(../media/creo_front.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c_magic {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right,
            #E288F9,
            var(--accent-color),
            /* #FFC988, */
            #E288F9
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowarp;
}

.c_header-content {
    color: whitesmoke;
    text-align: center;
}

.c_header-content h2 {
    font-size: 6vmin;
}

.c_line {
    width: 150px;
    height: 4px;
    /* background: #fc036b; */
    background: var(--accent-color);
    margin: 10px auto;
    border-radius: 5px;
}

.c_header-content h1 {
    font-size: 8vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.accent_symbol {
    color: var(--accent-color);
}

/* .article_thumbnail {

} */